@charset "UTF-8";
body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
  margin-top: 94px;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 94px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.header-inner {
  max-width: 1024px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55px;
  height: 55px;
}

.header-ttl {
  font-size: 24px;
  font-weight: bold;
  margin-left: 16px;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav ul li {
  text-align: center;
  margin-right: 45px;
}

.header-nav ul li a {
  color: #333;
  font-weight: bold;
}

.contact-btn {
  width: 155px;
  height: 37px;
  background: -webkit-gradient(linear, left top, right top, from(#fa41cc), to(#6020b0));
  background: linear-gradient(to right, #fa41cc, #6020b0);
  color: #fff;
  border-radius: 10px;
  display: block;
  text-align: center;
  line-height: 37px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.accordion-container {
  outline: 0;
  cursor: pointer;
  max-width: 907px;
  margin: 0 auto;
}

.accordion-container:last-child {
  border-bottom: 1px solid #E5E5E5;
}

.accordion-title {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  background: #FFFFFF;
  height: 58px;
  text-align: center;
  line-height: 58px;
  border-top: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
  cursor: pointer;
}

.accordion-content {
  font-size: 14px;
  font-weight: bold;
  padding: 25px 35px;
  text-align: left;
  background: #F2F2F2;
  width: auto;
  border-top: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
}

.main {
  max-width: 1366px;
  margin: 0 auto;
  background-image: url(../img/circle.png);
  background-position: top -60px right 0px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.main-inner {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 20px;
}

.main-copy {
  text-align: left;
  position: relative;
  z-index: 1000;
}

.main-copy h2 {
  font-size: 32px;
  line-height: 1.8;
  margin-bottom: 40px;
  font-weight: bold;
}

.main-copy p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 40px;
  font-weight: bold;
}

.main-img {
  position: absolute;
  right: 7%;
  top: 20%;
}

/*  */
.feature-ttl {
  margin-top: 40px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.feature-ttl span {
  font-size: 16px;
  color: #3ba6c9;
  display: block;
  /* これでタイトルの下へ配置できる */
  margin-top: 20px;
}

.feature-inner {
  max-width: 1024px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.feature-heading {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 64px;
}

.feature-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 93px;
}

.feature-box h3 {
  font-size: 24px;
  line-height: 1.8;
  font-weight: bold;
  margin-bottom: 54px;
}

.feature-box p {
  line-height: 1.5;
  font-weight: bold;
}

/*  */
.price {
  background-color: #eefbfb;
  padding: 64px 0 128px 0;
}

.price-inner {
  max-width: 1024px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.price-ttl {
  margin-top: 40px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.price-ttl span {
  font-size: 16px;
  color: #3ba6c9;
  display: block;
  /* これでタイトルの下へ配置できる */
  margin-top: 20px;
}

.price table {
  max-width: 926px;
  margin: 0 auto;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border-collapse: collapse;
  /* これをしないと線が２本になる */
}

.price table th {
  width: 35%;
  padding: 30px;
  border: 1px solid #f0eded;
}

.price table td {
  width: 65%;
  text-align: left;
  padding: 30px;
  border: 1px solid #f0eded;
  font-weight: bold;
}

/*  */
.faq {
  padding-bottom: 86px;
}

.faq-ttl {
  margin-top: 40px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.faq-ttl span {
  font-size: 16px;
  color: #3ba6c9;
  display: block;
  /* これでタイトルの下へ配置できる */
  margin-top: 20px;
}

.faq-inner {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}

/*  */
.blog {
  background: #eefbfb;
  padding: 40px 0 91px;
}

.blog-ttl {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.blog-ttl span {
  font-size: 16px;
  color: #3ba6c9;
  display: block;
  /* これでタイトルの下へ配置できる */
  margin-top: 20px;
}

.blog-card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 70px;
}

.blog-card {
  width: 389px;
  height: 387px;
  color: #333;
  background: #fff;
  margin-right: 30px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  position: relative;
}

.blog-card:last-child {
  margin-right: 0;
}

.blog-card img {
  width: 389px;
  height: 260px;
}

.blog-card p {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-left: 18px;
  margin-right: 30px;
  margin-top: 14px;
  line-height: 1.5rem;
}

.blog-card p span {
  font-size: 16px;
  position: absolute;
  top: 353px;
  right: 32px;
}

/*  */
.works {
  padding-top: 50px;
  padding-bottom: 90px;
}

.works-ttl {
  margin-top: 40px;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.works-ttl span {
  font-size: 16px;
  color: #3ba6c9;
  display: block;
  /* これでタイトルの下へ配置できる */
  margin-top: 20px;
}

.works-inner {
  text-align: center;
}

.works-card {
  width: 322px;
  height: 407px;
  color: #333;
  display: inline-block;
  /* これで中央に位置が移動できた */
  border-radius: 10px;
  border: 1px solid #DDDDDD;
}

.works-card img {
  width: 322px;
  height: 210px;
}

.works-card-top {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  padding-top: 18px;
  padding-left: 18px;
  padding-bottom: 30px;
}

.works-card-bottom {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  padding-left: 18px;
}

/*  */
.contact {
  background: -webkit-gradient(linear, left top, right top, from(#05a5fa), to(#63fbd7));
  background: linear-gradient(to right, #05a5fa, #63fbd7);
  padding-top: 40px;
  padding-bottom: 70px;
  color: #fff;
  text-align: center;
}

.contact-ttl {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
  color: #fff;
}

.contact-ttl span {
  font-size: 16px;
  display: block;
  margin-top: 20px;
}

.contact p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 44px;
  line-height: 1.8;
}

.contact .form {
  max-width: 908px;
  width: 90%;
  margin: 0 auto;
  background: #fff;
  color: #333;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 35px;
}

.contact .form-inner {
  padding-left: 63px;
  padding-right: 63px;
  /* 1番上のpへの指定 */
}

.contact .form-inner form :nth-of-type(1) p {
  margin-top: 0;
}

.contact .form-inner p {
  margin-top: 27px;
  margin-bottom: 36px;
}

.contact .form-inner p span {
  background: #0C449B;
  color: #fff;
  font-size: 14px;
  padding: 6px 16px;
  border-radius: 7px;
  margin-left: 23px;
}

.contact .form-inner .text {
  max-width: 499px;
  width: 100%;
  height: 43px;
  border: none;
  background: #EEFBFB;
}

.contact .form-inner .textarea {
  max-width: 783px;
  width: 100%;
  height: 179px;
  border: none;
  resize: none;
  background: #EEFBFB;
}

.contact .form-inner .submit button {
  /* ブラウザ特有のスタイルを無効に */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* ボタンのスタイル */
  width: 155px;
  height: 37px;
  background: -webkit-gradient(linear, left top, right top, from(#fa41cc), to(#6020b0));
  background: linear-gradient(to right, #fa41cc, #6020b0);
  color: #fff;
  font-weight: bold;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  /* カーソルを指マークに */
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* ホバーの変化を滑らかに */
}

.contact .form-inner .submit button:hover {
  background: purple;
}

.contact .form-inner .center {
  text-align: center;
}

.footer {
  height: 244px;
  text-align: center;
}

.footer-ttl {
  font-size: 24px;
  font-weight: bold;
  padding-top: 43px;
}

.footer-box {
  font-size: 16px;
  font-weight: bold;
  padding-top: 21px;
  padding-bottom: 52px;
}

.footer-box-right {
  margin-left: 29px;
}
/*# sourceMappingURL=front-page.css.map */