.accordion-container {
    outline: 0;
    cursor: pointer;
    max-width: 907px;
    margin: 0 auto;
    &:last-child {
        border-bottom: 1px solid #E5E5E5;
    }

}

.accordion-title {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: $txt-color;
    background: #FFFFFF;
    height: 58px;
    text-align: center;
    line-height: 58px;

    border-top: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;

    cursor: pointer;
}
  
  
  .accordion-content {
    font-size: 14px;
    font-weight: bold;
    padding:25px 35px;
    text-align: left;
    background: #F2F2F2;
    width: auto;

    border-top: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
}


  
